<!DOCTYPE HTML>
<html>
<head>
    <title>Trung tâm đào tạo Yên Mỹ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://daytot.vn/themes/daytot/favicon.ico" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Assets/client/css/bootstrapClient.css" rel="stylesheet" />
    <link href="~/Assets/client/css/jquery-ui.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="~/ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Assets/client/css/style.css" rel="stylesheet" />
    <link href="~/Assets/client/css/jquery.countdown.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="~/Assets/client/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/client/js/jquery-ui.js"></script>
    <!-- dropdown -->
    <script src="~/Assets/client/js/jquery.easydropdown.js"></script>
    <!-- start menu -->
    <link href="/Assets/client/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />

    <script src="~/Assets/client/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script src="~/Assets/client/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script src="~/Assets/client/js/jquery.countdown.js"></script>
    <script src="~/Assets/client/js/script.js"></script>
</head>
<body>

    @*Phần menu top*@
    <div class="header_top">
        <div class="container">
            <div class="header_top-box">
                @*<div class="header-top-left">
                    <div class="box">
                        <select tabindex="4" class="dropdown drop">
                            <option value="" class="label" value="">Giao diện :</option>
                            <option value="1">Màu xanh</option>
                            <option value="2">Màu xám</option>
                        </select>
                    </div>
                    <div class="box1">
                        <select tabindex="4" class="dropdown">
                            <option value="" class="label" value="">Ngôn ngữ :</option>
                            <option value="1">Tiếng việt</option>
                            <option value="2">Tiếng anh</option>
                            <option value="3">Tiếng pháp</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
                <div class="cssmenu">
                    <ul>
                        <li><a href="/Admin/NguoiDung/DangNhap">Đăng nhập</a></li>
                        <li><a href="/Admin/NguoiDung/DangKy">Đăng ký</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @*Kết thúc menu top*@

    @*Phần banner-sologan trang web*@
    <div class="header_bottom">
        <div class="container">
            <div class="header_bottom-box">
                <div class="header_bottom_left">
                    <div class="logo">
                        <a href="/"><img src="/Assets/client/images/logo-daytot_1.png" alt="" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="header_bottom_right">
                    <form action="/tim-kiem" method="GET">
                        <div class="search">
                            <input type="text" name="keyword" id="txtKeyword" placeholder="Nhập từ khóa tìm kiếm...">
                            <input type="submit" value="">
                        </div>
                    </form>
                    <ul class="bag">
                        <a href="#">
                            <img src="~/Assets/client/images/khoitieuhoc.png"/>
                        </a>
                        <a href="#">
                            <img src="~/Assets/client/images/khoipthcs.png"/>
                        </a>
                        <a href="#">
                            <img src="~/Assets/client/images/khoiptth.png"/>
                        </a>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    @*Kết thúc phần banner-sologan trang web*@'
    
    @*Phần Menu chính trang web*@
    <div class="menu">
        <div class="container">
            <div class="menu_box">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color2" href="/">Trang chủ</a></li>
                    <li>
                        <a class="color4" href="/GioiThieu/GioiThieu">Giới thiệu</a>
                    </li>
                    <li>
                        <a class="color10" href="/GiaoVien/DoiNguGiaoVien">Đội ngũ giáo viên</a>
                    </li>
                    <li>
                        <a class="color8" href="/LopHoc/DsLopHoc">Lớp học</a>
                        @{ Html.RenderAction("LopHocPartial", "LopHoc");}
                    </li>
                    <li><a class="color3" href="/LichHoc/DsLichHoc">Lịch học</a></li>
                    <li>
                        <a class="color7" href="/TinTuc/DsTinTuc">Tin tức</a>
                    </li>
                    <li><a class="color8" href="#">Kết quả học tập</a></li>
                    <li>
                        <a class="color8" href="#">Khóa học</a>
                       @{ Html.RenderAction("KhoiHocPartial", "LopHoc");}
                    </li>
                    <li><a class="color8" href="#">Thi cử</a></li>
                    <li><a class="color8" href="@Url.Action("LienHe","Home")">Liên hệ</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
        </div>
    </div>
            @*Kết thúc phần Menu chính trang web*@

            @*Phần nội dung trang web*@
            @RenderBody()

            <div class="container">
                <div class="content_bottom">
                    <div class="col-md-3 span_1">
                        <ul class="spinner">
                            <i class="box_icon"> </i>
                            <li class="spinner_head"><h3>TTĐT Yên Mỹ</h3></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <img src="/Assets/client/images/t8.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-3 span_1">
                        <ul class="spinner">
                            <i class="bubble"> </i>
                            <li class="spinner_head"><h3>Giới thiệu</h3></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                    </div>
                    <div class="col-md-3 span_1">
                        <ul class="spinner">
                            <i class="mail"> </i>
                            <li class="spinner_head"><h3>Liên hệ</h3></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="social">
                            <li><a href=""> <i class="fb"> </i> </a></li>
                            <li><a href=""><i class="tw"> </i> </a></li>
                            <li><a href=""><i class="google"> </i> </a></li>
                            <li><a href=""><i class="linkedin"> </i> </a></li>
                            <li><a href=""><i class="skype"> </i> </a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 span_1">
                        <ul class="spinner">
                            <i class="mail"> </i>
                            <li class="spinner_head"><h3>Liên hệ</h3></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <p>Trung tâm đào tạo Yên Mỹ</p>
                        <p>DC: Thị trấn Yên Mỹ- Yên Mỹ- Hưng Yên</p>
                        <p>SĐT:(+84) 973 654 074</p>
                        <p><a href="#">Email: Dovantunghy186@gmail.com</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            @*Phần footer trang web*@
            <div class="footer">
                <div class="container">
                    
                    @*<img src="/Assets/client/images/pay.png" class="img-responsive" alt="" />*@
                    <ul class="footer_nav">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Đội ngũ giáo viên</a></li>
                        <li><a href="#">Lịch học</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Kết quả học tập</a></li>
                        <li><a href="#">Khóa học</a></li>
                        <li><a href="#">Thi cử</a></li>
                        <li><a href="contact.html">Liên hệ</a></li>
                    </ul>
                    <p class="copy">
                        Copyright&copy; 2015 Tạo bởi <a href="https://www.facebook.com/tothickcau.1619" target="_blank"> Đỗ Văn Tùng</a>
                    </p>
                </div>
            </div>
            @*Kết thúc phần footer trang web*@
    <script src="~/Assets/client/js/controller/baseController.js"></script>
</body>
</html>		